/* src/index.css */

/* Gaya ini HANYA aktif saat mencetak */
@media print {
  /* Atur halaman cetak agar tidak ada margin/padding */
  @page {
    size: auto;
    margin: 0mm;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* Sembunyikan semua elemen di halaman */
  body > * {
    display: none;
  }

  /* Tampilkan HANYA area yang ingin kita cetak */
  .label-print-area {
    display: block !important;
  }

  /* Atur ukuran lebar label sesuai pilihan */
  .label-print-area.A6,
  .label-print-area.label-100mm {
      width: 100mm;
  }

  .label-print-area.label-80mm {
      width: 80mm;
  }

  .label-print-area.label-58mm {
      width: 58mm;
  }
}